<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/CSS/style.css">
    <link rel="stylesheet" href="~/CSS/style2.css">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top fondoazulgris">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/img/img5.png" alt="Error al cargar" width="50px" height="30px" class="img-responsive">
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav centrarcont alinearcont">
                    <li class="textonegritas">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="textonegritas">@Html.ActionLink("Alumnos", "Index", "Alumno")</li>
                    <li class="textonegritas">@Html.ActionLink("Asesores", "Index", "Asesor")</li>
                    <li class="textonegritas">@Html.ActionLink("Proyectos", "Index", "Proyecto")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" body-content">
        @RenderBody()
        <hr />
        <div class="fondonegro sinmargen conpadding30 row">
            <div class="col-md-12 centrarcont alinearcont">
                <div class="textocentrado conpaddingID3">
                    <img src="~/img/img19.png" alt="Error al cargar" class="imgRedondasection">
                </div>
                <div class="textocentrado conpaddingID3">
                    <h3 class="textoamarillo">Sobre mi</h3>
                    <p class="textoblanco">📍 Estudiante de ingeniería en sistemas computacionales con gran pasión por el desarrollo de proyectos.</p>
                </div>
                <div class="textocentrado conpaddingID3">
                    <h3 class="textoamarillo">Favoritos</h3>
                    <p class="textoblanco">
                        📍 C# <br>📍 Java <br>📍 SQL Server
                    </p>
                </div>
            </div>
            <!-- <img src="img/img7.png" alt="Error al cargar" width="400" height="100"> -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
