@*Para importar un modelo a la vista (en este caso será el de alumnos)*@
@model List<CursoMVC.Models.TablesViewModels.AsesorTableViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="row textocentrado">
    <h2>Asesores</h2>
    <div class="col-lg-12">
        <br />
        <table class="table table-hover">
            <thead>
                <tr class="info">
                    <th class="textocentrado">#</th>
                    <th class="textocentrado">Nss</th>
                    <th class="textocentrado">Nombre</th>
                    <th class="textocentrado">Apellido</th>
                    <th class="textocentrado">Fecha Nacimiento</th>
                    <th class="textocentrado"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var elemento in Model)
                {
                    <tr class="active">
                        <td>@elemento.Id</td>
                        <td>@elemento.Nss</td>
                        <td>@elemento.Nombre</td>
                        <td>@elemento.Apellido</td>
                        <td>@elemento.FechaN.ToString("dd/MM/yyyy")</td>
                        <td>
                            <input type="button" class="btn btn-danger" value="Borrar" onclick="jsdelete(@elemento.Id);" />
                            <input type="button" class="btn btn-info" value="Editar" onclick="document.location.href='@Url.Content("~/Asesor/editar/"+elemento.Id)'" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="button" name="Nasesor" value="Nuevo asesor" onclick="document.location.href='@Url.Content("~/Asesor/add")'" class="btn btn-success" />

    </div>
</div>

<script>

    function jsdelete(id) {
        if (confirm("¿Estas seguro que deseas eliminar a este asesor?")) {
            url = "@Url.Content("~/Asesor/borrar")" + "/" + id;
            $.post(url, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/Asesor/")"
                }
                else { alert("Error") }
            })
        }
    }
</script>

